@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-7 .navbar-toggler {
  color: #ffffff;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #ffffff;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #ffffff;
}
#menu-7 .link {
  font-size: 0.75rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #c0a375;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #000000;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-7 .btn {
  font-size: 12px;
}
#header1-3 .mbr-section-title {
  font-size: 36px;
}
#header2-4 .mbr-section-title {
  font-size: 36px;
  text-align: center;
}
#header2-4 .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
#header2-13 .mbr-section-title {
  font-size: 36px;
  text-align: center;
}
#header2-13 .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
#header2-14 .mbr-section-title {
  font-size: 36px;
  text-align: center;
}
#header2-14 .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
#features6-15 H4 {
  font-family: 'Roboto', sans-serif;
}
#header2-16 .mbr-section-title {
  font-size: 36px;
  text-align: center;
}
#header2-16 .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
#social-buttons3-f .mbr-section-title,
#social-buttons3-f .btn-social {
  color: #fff;
}
#testimonials4-e .mbr-section-title {
  color: #ffffff;
}
#testimonials4-e .card-footer > div {
  color: #ffffff;
}





#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #0e0e0e;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-8 .btn {
  font-size: 12px;
}
#header1-l .mbr-section-title {
  font-size: 36px;
}
#header2-z .mbr-section-title {
  font-size: 36px;
}
#header2-z .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
}
#header2-k .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
}
#header2-k .mbr-section-title {
  font-size: 36px;
}
#header2-m .mbr-section-title {
  font-size: 36px;
}
#header2-m .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
}
#header2-n .mbr-section-title {
  font-size: 36px;
}
#header2-n .mbr-section-text {
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-o P {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
#msg-box5-o H3 {
  color: #ffffff;
  font-size: 36px;
}





#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #ffffff;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #ffffff;
}
#menu-b .link {
  font-size: 0.75rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #c0a375;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #0e0e0e;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-p .mbr-section-title {
  font-size: 30px;
}
#header1-p .mbr-section-lead {
  font-size: 20px;
}
#header1-p .btn {
  font-size: 11px;
}
#image1-y DIV {
  color: #fac51c;
}
#content5-s .mbr-section-title,
#content5-s p {
  color: #fff;
}
#content5-s P {
  font-family: 'Montserrat', sans-serif;
}
#content5-s .mbr-section-title {
  font-size: 30px;
}
#content5-u .mbr-section-title,
#content5-u p {
  color: #fff;
}
#content5-u .mbr-section-title {
  text-align: right;
  font-size: 30px;
}
#content5-u P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#content5-v .mbr-section-title,
#content5-v p {
  color: #fff;
}
#content5-v P {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#content5-v .mbr-section-title {
  font-size: 30px;
}
#content5-w .mbr-section-title,
#content5-w p {
  color: #fff;
}
#content5-w .mbr-section-title {
  text-align: right;
  font-size: 30px;
}
#content5-w P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#content5-x .mbr-section-title,
#content5-x p {
  color: #fff;
}
#content5-x P {
  font-family: 'Montserrat', sans-serif;
}
#content5-x .mbr-section-title {
  font-size: 30px;
}
#contacts3-17 LI {
  color: #fac51c;
}
#footer1-18 B {
  color: #ffffff;
}
